html {
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  min-width: 350px;
  overflow-y: hidden;
}

/* <!-- Header --> */
.fleche {
  display: flex;
  font-size: 24px;
  align-self: center;
  position: absolute;
  left: 24px;
}

header img {
  width: 50%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.logo {
  display: flex;
  justify-content: center;
}

/* <!-- Section 1 --> */
main {
  padding: auto;
}

.image_restaurant {
  width: 100%;
  height: 200px;
}

img {
  width: 100%;
}

/* <!-- Section 2 --> */
.section_restaurants {
  background-color: rgb(248, 247, 247);
  width: 100%;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  height: auto;
  position: relative;
  padding-top: 8px;
}

h1 {
  width: 85%;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  font-style: italic;
  font-family: "Shrikhand";
}

.fa-heart {
  float: right;
  color: #6b6868;
  margin-right: 26px;
  height: 32px;
  display: flex;
  align-items: flex-end;
  font-size: 26px;
  cursor: pointer;
}

.fa-heart:hover {
  background-image: linear-gradient(to bottom, #9356dc, #ff79da);
  font-weight: bolder;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.7s ease-in-out;
}

i.far.fa-heart {
  display: flex;
  align-items: center;
  margin-right: 0px;
  flex-direction: row;
}

h2 {
  color: #686767;
  font-size: 18px;
  margin-left: 24px;
  border-bottom: solid 3px #8af1ce;
  padding-bottom: 6px;
  width: 12%;
  font-family: "Roboto";
}

.section_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entree {
  display: flex;
  box-shadow: 0 0 16px #0000002e;
  border-color: white;
  border-radius: 24px;
  margin: 0px 0px 24px 0;
  padding-left: 13px;
  width: 90%;
  height: 80px;
  overflow: hidden;
  background: white;
  cursor: pointer;
  animation-duration: 3s;
  animation-name: slidein;
}

.texte {
  background-color: white;
  width: 95%;
  overflow: hidden;
}

.texte_1 {
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto";
  margin-top: 15px;
}

.description {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-size: 14px;
}

p {
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 17px;
  font-family: "Roboto";
  margin-top: 5px;
}

.prix {
  color: #0f0f0f;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

@keyframes slidein {
  from {
    margin-top: -20%;
    width: 90%;
  }
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

.icone_check {
  transition: transform 600ms ease-in-out;
  transform: rotate(-1turn);
}

.entree:hover .prix {
  white-space: nowrap;
  width: 12%;
}

/* <!-- Section 2 Animation validation --> */

.entree:hover .pour_validation {
  background-color: rgb(86, 255, 199);
  width: 25%;
  font-size: 30px;
  transform: rotate(0deg);
}

.entree:hover .icone_check {
  transform: rotate(0deg);
}

.pour_validation {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transform: translate(100px, 0px);
  transition: transform 600ms, 800ms cubic-bezier(0.39, 0.58, 0.57, 1);
  margin-left: 20px;
}

/* <!-- Section 2 Bouton --> */
.bouton {
  display: flex;
  justify-content: center;
}

.bouton_commander {
  background: linear-gradient(175deg, #ff79da, #9356dc);
  color: white;
  border-color: transparent;
  font-size: 18px;
  height: 60px;
  font-weight: bold;
  border-radius: 48px;
  margin-top: 32px;
  margin-bottom: 30px;
  width: 60%;
  box-shadow: 0 0 16px #00000061;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.bouton :hover {
  background: linear-gradient(175deg, #ff93e1, #a16be0);
}

/* <!-- Footer --> */
footer {
  background-color: #353535;
  color: white;
  margin-top: -48px;
  height: auto;
}

h3 {
  margin-left: 32px;
  padding-top: 48px;
  font-size: 26px;
  font-family: "Shrikhand";
  letter-spacing: initial;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-family: "Roboto";
}

.container {
  padding-bottom: 16px;
}

.container ul li {
  color: white;
  list-style: none;
}

.icone_restaurant {
  margin-right: 22px;
  font-size: 16px;
  color: white;
}

.icone_partenaire {
  margin-right: 19px;
  font-size: 13px;
  color: white;
}

@media screen and (min-width: 600px) {
  /*Ici, le CSS s'appliquera aux écrans de 600 px minimum*/

  /* <!-- Section 1 --> */
  .fleche {
    font-size: 30px;
  }

  header img {
    width: 30%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 1%;
  }

  .image_restaurant {
    width: 100%;
    height: 285px;
  }

  .image_restaurant img {
    width: 100%;
    object-fit: cover;
    height: 330px;
  }

  /* <!-- Section 2 --> */

  h1 {
    display: flex;
    justify-content: center;
  }

  span.coeur {
    padding-left: 10px;
  }

  h2 {
    display: flex;
    justify-content: center;
  }

  .section_restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: relative;
  }

  .dispo_coeur {
    margin-left: 25px;
  }

  .section_2 {
    width: 50%;
  }

  .entree {
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-top: -20%;
      width: 90%;
    }
    40% {
      opacity: 1;
      transform: translateY(50px);
    }

    100% {
      opacity: 1;
    }
  }

  .entree:hover .pour_validation {
    background-color: rgb(86, 255, 199);
    width: 20%;
    font-size: 30px;
    transform: rotate(0deg);
  }

  .entree:hover .icone_check {
    transform: rotate(0deg);
  }

  .pour_validation {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translate(100px, 0px);
    transition: transform 600ms, 800ms cubic-bezier(0.39, 0.58, 0.57, 1);
    margin-left: 20px;
  }

  .icone_check {
    transition: transform 600ms ease-in-out;
    transform: rotate(-1turn);
  }

  /* <!-- Section 2 Bouton --> */
  .bouton {
    width: 25%;
  }

  /* <!-- Footer --> */
  footer {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .entree:hover .pour_validation {
    margin-left: 0px;
  }
}
