body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  font-size: 0.87rem;
  min-width: 350px;
}

.reservez {
  width: 81%;
  font-weight: bold;
  font-size: 1.9rem;
  text-align: center;
}

.decouvrez {
  font-size: 1.2rem;
  color: grey;
  margin-top: -1.5rem;
  display: flex;
  text-align: center;
}

/* <!-- Header --> */

header img {
  width: 50%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.logo {
  display: flex;
  justify-content: center;
}

/* <!-- Section 1 --> */

.localisation {
  display: flex;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  font-weight: bold;
  border-top: solid 0.31rem;
  border-color: #dfdfdf;
  box-shadow: 0 0 1rem #6e6e6e2e;
  font-size: 1.3rem;
}

.icone_localisation {
  margin-right: 1rem;
  font-size: 1.3rem;
}

.accueil {
  background-color: rgb(248, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
}

.découvrez {
  font-size: 1.2rem;
  text-align: center;
  margin-top: -0.5rem;
}

main {
  padding: auto;
}

.bouton_rechercher {
  background-color: #e137cf;
  color: white;
  border-color: transparent;
  font-size: 1.1rem;
  height: 65px;
  font-weight: bold;
  border-radius: 3rem;
  margin-top: 1rem;
  width: 70%;
  box-shadow: 0 0 16px #0000002e;
  cursor: pointer;
}

.bouton_rechercher:hover {
  background-color: #fd59fbc2;
}

h2 {
  margin-left: 1.56rem;
  margin-top: 2rem;
  font-size: 2rem;
}

.config {
  display: flex;
}

.navigation {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_filtre {
  display: flex;
  border-radius: 1rem;
  margin-bottom: 1.37rem;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(248, 247, 247);
  height: 65px;
  box-shadow: 0 0 1rem #0000002e;
  width: 80%;
  align-items: center;
}

.section_filtre:hover {
  background-color: #f8ecfb;
}

.numerotation {
  background-color: #cb39d1;
  color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 28px;
  min-width: 28px;
  margin-left: -1rem;
}

.icone_choissisez {
  padding-left: 8px;
  padding-right: 8px;
}

.icone_degustez {
  padding-left: 6px;
}

.icone_choissisez,
.icone_composez,
.icone_degustez {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-size: 1.2rem;
  color: rgb(129, 127, 127);
}

.section_filtre:hover .icone_choissisez,
.section_filtre:hover .icone_composez,
.section_filtre:hover .icone_degustez {
  color: #9356dc;
}

.section_restaurants {
  background-color: rgb(248, 247, 247);
  height: auto;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}

h3 {
  margin-left: 1.56rem;
  font-size: 1.7rem;
  background-color: rgb(248, 247, 247);
}

a {
  text-decoration: none;
}

.les_restaurants {
  background-color: rgb(248, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant {
  display: flex;
  box-shadow: 0 0 1rem #0000002e;
  border-color: white;
  background-color: white;
  border-radius: 0.75rem;
  margin: 0px 0px 1.5rem 0;
  width: auto;
  height: 250px;
  overflow: hidden;
}

.image_restaurant img {
  height: 175px;
  width: 300px;
  overflow: hidden;
  object-fit: cover;
}

.nouveau {
  position: absolute;
  margin-left: 185px;
  background-color: #8aead2;
  color: #1fa68d;
  font-weight: bold;
  margin-top: 0.7rem;
  height: 35px;
  display: flex;
  align-items: center;
  width: 100px;
  font-size: 1.1rem;
  justify-content: center;
  border-radius: 0.2rem;
  cursor: pointer;
}

.texte_restaurant {
  font-size: 1rem;
  color: black;
  margin-top: -1rem;
  margin-left: 1rem;
}

.coeur_1 {
  float: right;
  color: #6b6868;
  margin-right: 26px;
  height: 32px;
  display: flex;
  align-items: flex-end;
  font-size: 1.6rem;
  cursor: pointer;
}

.coeur_2 {
  float: right;
  color: transparent;
  margin-right: -26px;
  height: 32px;
  display: flex;
  align-items: flex-end;
  font-size: 1.6rem;
  cursor: pointer;
}

.coeur_2 :hover {
  color: #c13cfffa;
}

.lieu_restaurant {
  font-size: 1.1rem;
  margin-top: -0.7rem;
}

.nom_restaurant {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

footer {
  background-color: #4e4b4b;
  color: white;
  margin-top: -3rem;
}

h4 {
  margin-left: 2rem;
  padding-top: 1rem;
  font-size: 22px;
  font-family: "Shrikhand";
  letter-spacing: initial;
}

footer a {
  color: white;
  font-size: 1.2rem;
}

.container {
  padding-bottom: 1rem;
}

.container ul li {
  list-style: none;
}

.icone_restaurant {
  margin-right: 1.4rem;
  font-size: 1rem;
  color: white;
}

.icone_partenaire {
  margin-right: 1.2rem;
  font-size: 0.8rem;
  color: white;
}

@media screen and (min-width: 1000px) {
  /*Ici, le CSS s'appliquera aux écrans de 1000 px minimum*/

  .bouton_rechercher {
    width: 20%;
  }

  .section_fonctionnement {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .navigation {
    width: 25%;
  }

  .section_restaurants {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .les_restaurants {
    flex-direction: row;
    justify-content: space-around;
  }
}
