body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  font-size: 0.87rem;
}

h1,
h2,
h3,
h4 {
  font-family: Shrikhand;
}

/* $color-primaire: #9356dc;
$color-secondaire: #ff79da;
$color-teritaire: #99e2d0; */

/* <!-- Header --> */

header img {
  width: 50%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.logo {
  display: flex;
  justify-content: center;
}

/* <!-- Section 1 --> */

.localisation {
  display: flex;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  font-weight: bold;
  border-top: solid 0.31rem;
  border-color: #dfdfdf;
  box-shadow: 0 0 1rem #6e6e6e2e;
}

.icone_localisation {
  margin-right: 1rem;
  font-size: 1.3rem;
}

p {
  font-size: 1.1rem;
  font-family: Roboto;
}

.accueil {
  background-color: rgb(248, 247, 247);
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  height: 320px;
}

h1 {
  width: 81%;
  font-size: 2rem;
}

main {
  padding: auto;
}

.bouton_rechercher {
  background-color: #ff79da;
  color: white;
  font-size: 1.3rem;
  height: 3rem;
  font-weight: bold;
  border-radius: 2rem;
  margin-top: 1rem;
}

h2 {
  margin-left: 1.56rem;
  margin-top: 2rem;
  font-size: 2rem;
}

.section_filtre {
  display: flex;
  align-items: center;
  margin-right: 1.56rem;
  margin-left: 1.56rem;
  border-radius: 1rem;
  margin-bottom: 1.37rem;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(248, 247, 247);
  height: 65px;
  box-shadow: 0 0 1rem #0000002e;
}

.icone_choissisez,
.icone_composez,
.icone_degustez {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-size: 1.5rem;
}

.numérotation {
  background-color: #ff79da;
  color: white;
  border-radius: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  min-width: 10%;
  font-size: 1.25rem;
  margin-left: -1rem;
}

.section_restaurants {
  background-color: rgb(248, 247, 247);
}

h3 {
  margin-left: 1.56rem;
  font-size: 1.6rem;
  background-color: rgb(248, 247, 247);
}

.les_restaurants {
  background-color: rgb(248, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.restaurant {
  display: flex;
  box-shadow: 0 0 1rem #0000002e;
  border-color: white;
  background-color: white;
  border-radius: 0.75rem;
  margin: 0px 0px 0.93rem 0;
  width: 90%;
  height: 255px;
  overflow: hidden;
}

.image_restaurant img {
  height: 180px;
  width: 21rem;
  overflow: hidden;
  object-fit: cover;
}

.coeur {
  position: absolute;
  background-color: #93efd7;
  color: #1fbf50;
  right: 1.8rem;
  font-weight: bold;
  margin-top: 0.7rem;
  height: 30px;
  display: flex;
  align-items: center;
  min-height: 30px;
  min-width: 10%;
  width: 25%;
  font-size: 1rem;
  justify-content: center;
}

footer {
  background-color: grey;
  color: white;
}

h5 {
  font-style: italic;
  margin-left: 2rem;
  padding-top: 1rem;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.container ul li {
  color: white;
  list-style: none;
}

.icone_restaurant {
  margin-right: 1rem;
}

@media screen and (min-width: 600px) {
  /*Ici, le CSS s'appliquera aux écrans de 600 px minimum*/
}
