body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  font-size: 0.87rem;
}

.reservez {
  width: 81%;
  font-weight: bold;
  font-size: 2.2rem;
  text-align: center;
}

.decouvrez {
  font-size: 1.3rem;
  color: grey;
  margin-top: -1.5rem;
  display: flex;
  text-align: center;
}

/* <!-- Header --> */

header img {
  width: 50%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.logo {
  display: flex;
  justify-content: center;
}

/* <!-- Section 1 --> */

.localisation {
  display: flex;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  font-weight: bold;
  border-top: solid 0.31rem;
  border-color: #dfdfdf;
  box-shadow: 0 0 1rem #6e6e6e2e;
  font-size: 1.3rem;
}

.icone_localisation {
  margin-right: 1rem;
  font-size: 1.3rem;
}

.accueil {
  background-color: rgb(248, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 345px;
}

.découvrez {
  font-size: 1.2rem;
  text-align: center;
  margin-top: -0.5rem;
}

main {
  padding: auto;
}

.bouton_rechercher {
  background-color: #e137cf;
  color: white;
  border-color: transparent;
  font-size: 1.2rem;
  height: 66px;
  font-weight: bold;
  border-radius: 3rem;
  margin-top: 1rem;
  width: 66%;
  box-shadow: 0 0 16px #0000002e;
}

h2 {
  margin-left: 1.56rem;
  margin-top: 2rem;
  font-size: 2rem;
}

.config {
  display: flex;
}

.navigation {
  height: 300px;
}

.section_filtre {
  display: flex;
  align-items: center;
  margin-right: 1.56rem;
  margin-left: 1.56rem;
  border-radius: 1rem;
  margin-bottom: 1.37rem;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(248, 247, 247);
  height: 65px;
  box-shadow: 0 0 1rem #0000002e;
}

.section_filtre:hover {
  background-color: #f8ecfb;
  transform: scale(1.04);
}

.numerotation {
  background-color: #cb39d1;
  color: white;
  border-radius: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  min-width: 8%;
  font-size: 1rem;
  margin-left: -1rem;
}

.icone_choissisez,
.icone_composez,
.icone_degustez {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-size: 1.2rem;
  color: rgb(129, 127, 127);
}

.section_filtre:hover .icone_choissisez,
.section_filtre:hover .icone_composez,
.section_filtre:hover .icone_degustez {
  color: #9356dc;
  transform: scale(1.04);
}

.section_restaurants {
  background-color: rgb(248, 247, 247);
  height: auto;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}

h3 {
  margin-left: 1.56rem;
  font-size: 1.7rem;
  background-color: rgb(248, 247, 247);
}

a {
  text-decoration: none;
}

.les_restaurants {
  background-color: rgb(248, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant {
  display: flex;
  box-shadow: 0 0 1rem #0000002e;
  border-color: white;
  background-color: white;
  border-radius: 0.75rem;
  margin: 0px 0px 1.5rem 0;
  width: 90%;
  height: 250px;
  overflow: hidden;
}

.image_restaurant img {
  height: 175px;
  width: 24rem;
  overflow: hidden;
  object-fit: cover;
}

.texte_restaurant {
  font-size: 1rem;
  color: black;
  margin-top: -1rem;
  margin-left: 1rem;
}

.lieu_restaurant {
  font-size: 1.1rem;
  margin-top: -0.7rem;
}

.nom_restaurant {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.nouveau {
  position: absolute;
  background-color: #99e2d0;
  color: #31884c;
  right: 1.8rem;
  font-weight: bold;
  margin-top: 0.7rem;
  height: 30px;
  display: flex;
  align-items: center;
  min-height: 30px;
  min-width: 10%;
  width: 25%;
  font-size: 1rem;
  justify-content: center;
  border-radius: 0.2rem;
  cursor: pointer;
}

.coeur {
  position: absolute;
  color: #6b6868;
  right: 0.5rem;
  height: 30px;
  display: flex;
  align-items: flex-end;
  min-height: 30px;
  min-width: 10%;
  width: 25%;
  font-size: 1.6rem;
  justify-content: center;
  cursor: pointer;
}

.coeur:hover {
  transform: scale(1.04);
  color: black;
}

footer {
  background-color: #4e4b4b;
  color: white;
  margin-top: -3rem;
}

h4 {
  font-style: italic;
  margin-left: 2rem;
  padding-top: 1rem;
  font-size: 1rem;
  font-family: "Shrikhand";
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: "Roboto";
}

.container {
  padding-bottom: 1rem;
}

.container ul li {
  color: white;
  list-style: none;
}

.icone_restaurant {
  margin-right: 1.4rem;
  font-size: 1rem;
  color: white;
}

.icone_partenaire {
  margin-right: 1.2rem;
  font-size: 0.8rem;
  color: white;
}

@media screen and (min-width: 600px) {
  /*Ici, le CSS s'appliquera aux écrans de 600 px minimum*/
}
