html {
  overflow: auto;
}

main {
  padding: auto;
}

body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  font-size: 30px;
  min-width: 350px;
}

/* <!-- Loader spinner --> */

.animation {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  opacity: 1;
  animation: fade 3s forwards;
}

.loader {
  width: 54px;
  height: 54px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.loader_spinner {
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #c13cfffa;
  border-bottom-color: #c13cfffa;
  animation: spin 1s linear infinite;
  margin-right: 20px;
  margin-left: 20px;
}

.loader_spinner:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #06c3a1;
  border-bottom-color: #06c3a1;
  opacity: 0.6;
  animation: spinreverse 2s linear infinite;
}

.loader_spinner::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: white;
  border-bottom-color: white;
  opacity: 0.6;
  animation: spinreverse 2.5s linear infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
    z-index: 1;
  }

  70% {
    opacity: 1;
    z-index: 1;
  }
  99% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinreverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* <!-- Header --> */

.logo {
  display: flex;
  justify-content: center;
}

header img {
  width: 50%;
  padding-top: 3%;
  padding-bottom: 3%;
}

/* <!-- Section 1 --> */

.localisation {
  display: flex;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  font-weight: bold;
  border-top: solid 5px;
  border-color: #dfdfdf;
  box-shadow: 0 0 16px #6e6e6e2e;
  font-size: 21px;
}

.icone_localisation {
  margin-right: 16px;
  font-size: 21px;
}

.accueil {
  background-color: rgb(248, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
}

.reservez {
  width: 81%;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.decouvrez {
  font-size: 19px;
  color: grey;
  margin-top: -24px;
  display: flex;
  text-align: center;
  margin-top: -8px;
}

.bouton_rechercher {
  background: linear-gradient(175deg, #ff79da, #9356dc);
  color: white;
  border-color: transparent;
  font-size: 18px;
  height: 65px;
  font-weight: bold;
  border-radius: 48px;
  margin-top: 16px;
  width: 250px;
  box-shadow: 0 0 16px #0000002e;
  cursor: pointer;
  border: none;
}

.bouton_rechercher:hover {
  background: linear-gradient(175deg, #ff93e1, #a16be0);
}

/* <!-- Section 2 --> */

h2 {
  margin-left: 25px;
  margin-top: 32px;
  font-size: 25px;
}

.navigation {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_filtre {
  display: flex;
  font-size: 16px;
  border-radius: 25px;
  margin-bottom: 22px;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(248, 247, 247);
  height: 70px;
  box-shadow: 0 0 16px #0000002e;
  width: 80%;
  align-items: center;
}

.section_filtre:hover {
  background-color: #f8ecfb;
  box-shadow: 0 0 30px #0000002e;
}

.numerotation {
  background-color: #9356dc;
  color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 28px;
  min-width: 28px;
  margin-left: -16px;
}

.icone_choissisez {
  padding-left: 8px;
  padding-right: 8px;
}

.icone_degustez {
  padding-left: 6px;
}

.icone_choissisez,
.icone_composez,
.icone_degustez {
  margin-right: 24px;
  margin-left: 24px;
  font-size: 19px;
  color: rgb(129, 127, 127);
}

.section_filtre:hover .icone_choissisez,
.section_filtre:hover .icone_composez,
.section_filtre:hover .icone_degustez {
  color: #9356dc;
}

/* <!-- Section 3 --> */

.section_restaurants {
  background-color: rgb(248, 247, 247);
  height: auto;
  padding-top: 24px;
  padding-bottom: 64px;
}

h3 {
  margin-left: 25px;
  font-size: 27px;
  background-color: rgb(248, 247, 247);
}

a {
  text-decoration: none;
}

.les_restaurants {
  background-color: rgb(248, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant {
  display: flex;
  box-shadow: 0 0 16px #0000002e;
  border-color: white;
  background-color: white;
  border-radius: 12px;
  margin: 0px 0px 24px 0;
  width: auto;
  height: 250px;
  overflow: hidden;
}

.image_restaurant img {
  height: 175px;
  width: 300px;
  overflow: hidden;
  object-fit: cover;
}

.nouveau {
  position: absolute;
  margin-left: 185px;
  background-color: #99e2d0;
  color: #008766;
  font-weight: bold;
  margin-top: 11px;
  height: 35px;
  display: flex;
  align-items: center;
  width: 100px;
  font-size: 18px;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
}

.texte_restaurant {
  font-size: 16px;
  color: black;
  margin-top: -16px;
  margin-left: 16px;
}

.fa-heart {
  float: right;
  color: #6b6868;
  margin-right: 26px;
  height: 32px;
  display: flex;
  align-items: flex-end;
  font-size: 26px;
  cursor: pointer;
}

.fa-heart:hover {
  background-image: linear-gradient(to bottom, #9356dc, #ff79da);
  font-weight: bolder;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}

i.far.fa-heart {
  margin-top: 6px;
}

.nom_restaurant {
  font-weight: bold;
  font-size: 19px;
  margin-top: 24px;
}

.lieu_restaurant {
  font-size: 18px;
  margin-top: -11px;
}

/* <!-- Footer --> */

footer {
  background-color: #353535;
  color: white;
  margin-top: -48px;
}

h4 {
  margin-left: 32px;
  padding-top: 16px;
  font-size: 20px;
  font-family: "Shrikhand";
  letter-spacing: initial;
}

footer a {
  color: white;
  font-size: 17px;
}

.container {
  padding-bottom: 16px;
}

.container ul li {
  list-style: none;
}

.icone_restaurant {
  margin-right: 22px;
  font-size: 16px;
  color: white;
}

.icone_partenaire {
  margin-right: 19px;
  font-size: 13px;
  color: white;
}

@media screen and (min-width: 1000px) {
  /*Ici, le CSS s'appliquera aux écrans de 1000 px minimum*/

  /* <!-- Loader spinner --> */
  .loader {
    width: 90px;
    height: 90px;
  }

  /* <!-- Header --> */

  header img {
    width: 25%;
  }

  /* <!-- Section 1 --> */

  .bouton_rechercher {
    width: 265px;
  }

  /* <!-- Section 2 --> */

  .section_fonctionnement {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .navigation {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .section_filtre {
    width: 25%;
  }

  /* <!-- Section 3 --> */

  .section_restaurants {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .les_restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .restaurant {
    width: auto;
    height: auto;
  }

  .image_restaurant img {
    height: 300px;
    width: 700px;
    overflow: hidden;
    object-fit: cover;
  }

  .nouveau {
    margin-left: 584px;
  }

  /* <!-- Footer --> */

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
