body {
  margin: 0;
  padding: 0;
}

/* <!-- Header --> */

.fleche {
  display: flex;
  font-size: 1.5rem;
  align-self: center;
  position: absolute;
  left: 1.5rem;
}

header img {
  width: 50%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.logo {
  display: flex;
  justify-content: center;
}

/* <!-- Section 1 --> */

main {
  padding: auto;
}

.image_restaurant {
  width: 100%;
  height: 190px;
}

img {
  width: 100%;
}

/* <!-- Section 2 --> */

.section_restaurants {
  background-color: rgb(248, 247, 247);
  width: 100%;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  height: 1365px;
  position: relative;
  padding-top: 0.5rem;
}

h1 {
  width: 81%;
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
  margin-left: 1.5rem;
  font-style: italic;
  font-family: "Shrikhand";
}

h2 {
  color: #686767;
  font-size: 1.1rem;
  margin-left: 1.5rem;
  border-bottom: solid 3px #8af1ce;
  padding-bottom: 0.4rem;
  width: 12%;
  font-family: "Roboto";
}

.nom_produit {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

.section_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entree {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: -5%;
    width: 85%;
    animation-timing-function: ease-in;
  }
  40% {
    margin-top: 0%;
  }

  to {
    margin-bottom: 1.6%;
    width: 85%;
  }
}

.entree {
  display: flex;
  box-shadow: 0 0 1rem #0000002e;
  border-color: white;
  border-radius: 1.5rem;
  margin: 0px 0px 1.5rem 0rem;
  padding-left: 0.8rem;
  width: 90%;
  height: 80px;
  overflow: hidden;
  background: white;
  cursor: pointer;
}

.texte {
  background-color: white;
  width: 95%;
}

.description_produit {
  font-family: "Roboto";
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  margin-top: -0.5rem;
}

.prix {
  color: #0f0f0f;
  font-size: 1rem;
  font-weight: bold;
}

.entree:hover .pour_validation {
  background-color: rgb(86, 255, 199);
  width: 8%;
  font-size: 30px;
  transform: rotate(0deg);
}

.entree:hover .icone_check {
  transform: rotate(0deg);
}

.pour_validation {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transform: translate(100px, 0px);
  transition: transform 600ms, 800ms cubic-bezier(0.39, 0.58, 0.57, 1);
  margin-left: 20px;
}

.icone_check {
  transition: transform 600ms ease-in-out;
  transform: rotate(-1turn);
}

.bouton {
  display: flex;
  justify-content: center;
}

.bouton_commander {
  background-color: #ff79da;
  color: white;
  border-color: transparent;
  font-size: 1.1rem;
  height: 60px;
  font-weight: bold;
  border-radius: 3rem;
  margin-top: 2rem;
  width: 60%;
  box-shadow: 0 0 16px #0000002e;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* <!-- Footer --> */

footer {
  background-color: #4e4b4b;
  color: white;
  margin-top: -3rem;
  height: auto;
}

h3 {
  margin-left: 2rem;
  padding-top: 3rem;
  font-size: 1.6rem;
  font-family: "Shrikhand";
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: "Roboto";
}

.container {
  padding-bottom: 1rem;
}

.container ul li {
  color: white;
  list-style: none;
}

.icone_restaurant {
  margin-right: 1.4rem;
  font-size: 1rem;
  color: white;
}

.icone_partenaire {
  margin-right: 1.2rem;
  font-size: 0.8rem;
  color: white;
}

@media screen and (min-width: 600px) {
  /*Ici, le CSS s'appliquera aux écrans de 600 px minimum*/
}
